# Options for mysqld process:
[MYSQLD]                        
ndbcluster                          # run NDB engine
ndb-connectstring=172.17.0.2       # location of MGM node

# Options for ndbd process:
[MYSQL_CLUSTER]                 
ndb-connectstring=172.17.0.2       # location of MGM node
